extends layouts/main 

block content
    h1 TXT2HTML! 
    .text__submit 
            form(action="/" method="POST" enctype="multipart/form-data") 
                input(type="file" name="textFile")
                input(type="submit" value="Convert")