include mixin/movieBlock

html
    head
        title Movies! | #{siteTitle}
    body
        h1 #{header}
        each item in movieList 
            +movieBlock({
                id: item.id,
                title: item.title
            })  
